body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #063852;
}

h1{
    color: #92b8db;
}

hr{
    width: 500px;
}

.btn{
    width: 150px;
    height: 40px;
    background-color: #298f4b;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: rgb(10, 9, 15);
}

.btn:hover{
    background-color: #42a362;
}

#status{
    position: relative;
    margin: 4px auto 2px;
    width: 450px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    color: white;
    padding-left: 10px;
}

#errores{
    width: 30px;
    padding-right: 10px;
    margin-left: 300px;
    text-align: start;
    color: rgb(212, 80, 109);
}

.btn-comenzar{
    position: absolute;
    
    width: 250px;
    height: 40px;
    background-color: rgb(49, 95, 131);

    border: none;
    outline: none;
    
    cursor: pointer;
    color: rgb(253, 252, 253);
}

.btn-comenzar:hover{
    background-color: #0f405a;
    border: 2px solid rgb(56, 107, 146);
    color: rgb(165, 199, 224);
}

.reiniciar{
    background-color: #010b11;
    font-weight: 400;
}

.reiniciar:hover{
    background-color: #113e5e;
    border: 2px solid rgb(32, 93, 143);
    color: rgb(230, 235, 241);
}


#tablero{
    width: 450px;
    height: 450px;
    border: 3px solid #000000;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.casilla{
    width: 48px;
    height: 48px;
    background-color: rgb(245, 250, 250);
    border: 1px solid rgb(192, 190, 190);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#numeros{
    width: 450px;
    height: 50px;


    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.numero{
    width: 44px;
    height: 44px;
    background-color: #72b9df;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(4, 3, 17);
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
}

.num-en-uso:hover{
    background-color: #95c5df;
    border-radius: 35%;
}

.numero-seleccionado{
    background-color: gray;
}

.casilla-inicial{
    background-color: rgb(243, 235, 235);
}

.linea-vertical{
    border-right: 1px solid black;
}

.linea-horizontal{
    border-bottom: 1px solid black;
}


.numErroneo{
    color: rgb(255, 0, 0);
}

.numTerminado{
    background-color: #448bb121;
    color: #e6e9f03a;
    border: 1px solid rgba(46, 49, 51, 0.171);
}


.btn-pausar{
    position: absolute;
    left: 55px;
    height: 12px;
    border-style: double;
    border-width: 0 0 0 12px;
    cursor: pointer;
    margin-left: 15px;
    border-color: transparent transparent transparent rgb(212, 80, 109);
    background-color: transparent;
}

.reanudar{
    border-width: 6px 0 6px 12px;
    border-style: solid;
}