body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #063852;
}

h1{
    color: #92b8db;
}

hr{
    width: 500px;
}

.btn{
    width: 150px;
    height: 40px;
    background-color: #298f4b;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: rgb(10, 9, 15);
}

.btn:hover{
    background-color: #42a362;
}

#status{
    margin: 6px auto 4px;
    width: 400px;
    display: flex;
    align-items: center;
}

#errores{
    /* position: absolute;
    top: -12px;
    left: 70px; */
    color: rgb(212, 80, 109);
    flex-grow: 1;
    margin: 0 0 0 35px;
}

.btn-comenzar{
    width: 200px;
    height: 40px;
    background-color: #0f405a;
    border: 1px solid rgb(145, 178, 206);
    cursor: pointer;
    color: rgb(219, 225, 230);
}

.btn-comenzar:hover{
    background-color: rgb(56, 107, 146);
    border: 1px solid rgb(56, 107, 146);
}

p{
    /* position: absolute;
    right: 20px;
    top: -3px; */
    color: white;
}


#tablero{
    width: 450px;
    height: 450px;
    border: 3px solid #000000;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.casilla{
    width: 48px;
    height: 48px;
    background-color: rgb(245, 250, 250);
    border: 1px solid rgb(192, 190, 190);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#numeros{
    width: 450px;
    height: 50px;


    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.numero{
    width: 44px;
    height: 44px;
    background-color: #72b9df;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(4, 3, 17);
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
}

.num-en-uso:hover{
    background-color: #95c5df;
    border-radius: 35%;
}

.numero-seleccionado{
    background-color: gray;
}

.casilla-inicial{
    background-color: rgb(243, 235, 235);
}

.linea-vertical{
    border-right: 1px solid black;
}

.linea-horizontal{
    border-bottom: 1px solid black;
}


.numErroneo{
    color: rgb(255, 0, 0);
}

.numTerminado{
    background-color: #448bb121;
    color: #e6e9f03a;
    border: 1px solid rgba(46, 49, 51, 0.171);
}